html, body, #root {
  height: 100%; }

.App {
  text-align: center;
  background-color: #fafafa;
  height: 100%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

input {
  background-color: #fafafa;
  border: 0;
  font-size: 3em; }
  input[type=number] {
    -moz-appearance: textfield; }

.eso {
  margin-bottom: 10px;
  border: 0;
  display: inline-block;
  color: #000;
  text-decoration: none; }

.eso::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s; }

.eso:hover::after {
  width: 100%; }
